<%= form_for @inventory_item do |f| %>
  <div class="form-group">
    <%= f.label :name, class: "control-label" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tag_id, class: "control-label" %><br>
    <%= f.text_field :tag_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "control-label" %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <p>
    <%= f.submit :class => "btn btn-default"%>
  </p>
<% end %>
